aiogram==2.25.1
aiosqlite==0.17.0
telethon==1.24.0
pyrogram==2.0.30
tgcrypto==1.2.3

# ЗАСТАВЛЯЕМ pip тянуть бинарники
aiohttp==3.8.5 --only-binary=:all:
yarl==1.9.2 --only-binary=:all:
frozenlist==1.4.0 --only-binary=:all:
multidict==6.0.4 --only-binary=:all: