aiogram==2.25.1
aiosqlite==0.19.0
telethon==1.29.2   # стабильная версия

# aiohttp stack с готовыми wheels
aiohttp==3.8.3 --only-binary=:all:
yarl==1.8.2 --only-binary=:all:
frozenlist==1.3.3 --only-binary=:all:
multidict==6.0.2 --only-binary=:all:
attrs==22.2.0